<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>


    </style>
    <link rel="stylesheet" href="../../webjars/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Neue Reservierung</title>
<body>
<section layout:fragment="content">
    <h1>Neue Reservierung</h1>
    </br>
    </br>
    <div class="container-fluid">
        <form  th:action="@{/reservierung/neueReservierung}" th:object="${reservierung}" method="post">
            <div class="form-group">
                <label th:for="status_enum">Status</label>
                    <select th:field="*{status_enum}">
                            <option th:each="status : ${status_enum}"
                                    th:value="${status}"
                                    th:text="${status.name}">
                            </option>
                </select>
            </div>
            <div class="form-group">
                <label th:for="userlist">User</label>
                <select th:field="*{user}">
                    <option th:each="user : ${userlist}"
                            th:value="${{user}}"
                            th:text="${user.lastName}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="name">ReservierungNr</label>
                <input type="text" class="form-control" th:field="*{reservierung_nr}" id="name" placeholder="Vorname">
            </div>
            </br>
            <input type="submit" class="btn btn-primary" value="Add Reservierung">
            <a href="/reservierung" th:href="@{/reservierung}" class="btn btn-secondary">Cancel</a>
        </form>

    </div>
</section>
</body>
</html>