<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>
    <title>Home</title>
    <style type="text/css">
        body > div > section > div > div
        {
            margin-top: 14%;
            margin-left: 0%;
            height: 350px;
        }
        body > div > section > div > div > div:nth-child(3)
        {    margin-bottom: 8%;}
        body > div > section > div > div > a {
            margin-left: 90%;
        }
        .my-popover-content {
            display:none;
        }
        #myModal1 > div > div > div.modal-body > div > div:nth-child(6) > div:nth-child(1)
        {
            border-style: inset;
            text-align: center;
            font-size: x-large;
            color: white;
            background: darkslateblue;
        }
        body > div > section > div > div > button:nth-child(3)
        {
            margin-left: 27%;
        }
        body > div > section > div > div > h2
        {
            margin-left: 6%;
        }
    </style>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
    <script type="text/javascript">
    </script>
</head>
<body>
<section layout:fragment="content">
<div class="container">
    <div class="jumbotron">
    <h2>Sehr geehrter <span th:utext="${userName}"></span>, das ist die Homepage.</h2>

    </br>
        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">
            Eigener Schlüssel
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title" id="myModalLabel1">Eigener Schlüssel</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col">Ihr Schlüssel abholen</div>
                                <div class="col"><a th:href="@{/schluessel/abholen/{id}(id=${user.privaterSchluessel.id})}" class="btn btn-danger">Zur Abholung</a></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">Ihr Schlüssel abgeben</div>
                                <div class="col"> <a th:href="@{/schluessel/retournieren/{id}(id=${user.privaterSchluessel.id})}" class="btn btn-danger">Zur Abgabe
                                </a>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col">Status</div>
                                <div class="col"><a th:text="${status}" style="color: black; border: black";></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zurück</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
            Öffentliche Räume
        </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title" id="myModalLabel">Öffentliche Räume</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">Schlüssel reservieren</div>
                                        <div class="col"><a th:href="@{/reservierung/neueReservierung/{id}(id=${user.id})}" class="btn btn-danger">Zur Reservierung</a></div>
                                        <div class="w-100"></div>
                                        <br>
                                        <div class="col">Reservierung Ändern</div>
                                        <div class="col"> <a th:href="@{/schluessel/retournieren/{id}(id=${user.privaterSchluessel.id})}" class="btn btn-danger">Zur Änderung</a></div>
                                        <div class="w-100"></div>
                                        <br>
                                        <div class="col">Reservierungen anschauen</div>
                                        <div class="col"> <a th:href="@{/reservierung/reservierungen/{id}(id=${user.id})}" class="btn btn-danger">Meine Reservierungen</a></div>
                                        <div class="w-100"></div>
                                    </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    <a th:href="@{/logout}">Ausloggen</a>
    </div>
    </div>
    </section>
</body>
</html>